.menu{
    background-color: #86BE4F;
    height: 20px;
    width: 100%;
    padding: 15px;
}
.menu a{
    cursor: pointer;
}
@media only screen and (min-width: 780px)  {
    .menu{
        width: 170px;
        height: 1200px;
        padding: 15px;
    }
}


.encabezado{
    background-color: #1A2634;
}
img{
    width: 130px;
    margin-left: 5px;
}

.card{
    margin: 20px;
}
.contenido{

    background-color: #fff;
}
.card:hover{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); 
}
.regis{
    margin: auto;
}
.deactivetd{
    background-color: white;
}
.noDisp{
    background-color: rgb(189, 123, 37);
}