
<div class="container-fluid contenido">

	  <div class="row">
	    <div class="col-sm-12 encabezado">
			<img src="assets/imgs/CUT.png">
	    </div>
	    <div class=" menu">
          <h5>BIENVENIDO</h5>
          <h6>{{usuario.nombre}}</h6>
          <a (click)="cerrarSesion()">cerrar sesion</a>
	    </div>
	    <div class=" col-sm-12 col-md-10  ">
        
        <div class="card">
          <h5 class="card-header">Horario</h5>
          <div class="card-body">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Materia</th>
                      <th scope="col">Aula</th>
                      <th scope="col">Hrs</th>
                      <th scope="col">Profesor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Registro de materias</h5>
          <div class="card-body">
              <div class="row">
                  <div class="form-group col-sm-2">
                      <label for="carrera">id materia</label>
                      <select class="form-control" id="carrera" name="carrera" [(ngModel)]="Alumno.carrera" #carrera="ngModel" >
                        <option *ngFor='let c of Carreras' value="{{c.idCarrera}}">{{c.Carrera}}</option>
                      </select>
                  </div>
                  <div class="form-group col-sm-3">
                      <label for="codigo">Materia</label>
                      <input type="text" disabled value="{{Maestro.codigo}}" class="form-control" id="codigo" name="codigo" [(ngModel)]="Maestro.codigo" #codigo="ngModel" >
                  </div>
                  <div class="form-group col-sm-3">
                    <label for="codigo">Profesor</label>
                    <input type="text" disabled value="{{Maestro.codigo}}" class="form-control" id="codigo" name="codigo" [(ngModel)]="Maestro.codigo" #codigo="ngModel" >
                  </div>
                  <div class="form-group col-sm-2">
                      <label for="codigo">Aula</label>
                      <input type="text" disabled value="{{Maestro.codigo}}" class="form-control" id="codigo" name="codigo" [(ngModel)]="Maestro.codigo" #codigo="ngModel" >
                  </div>
                  <div class="col-sm2 regis">
                      <a class="btn btn-primary align-bottom" (click)="abrirmodal(catalogoM)">Registrar</a>
                  </div>  
              </div>
              

              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Horas</th>
                      <th scope="col">Lunes</th>
                      <th scope="col">Martes</th>
                      <th scope="col">Miercoles</th>
                      <th scope="col">Jueves</th>
                      <th scope="col">Viernes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">7:00 AM</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">8:00 AM</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">9:00 AM</th>  
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td> 
                    </tr>
                    <tr>
                      <th scope="row">10:00 AM</th> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>  
                    </tr>
                    <tr>
                      <th scope="row">11:00 AM</th> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>  
                    </tr>
                    <tr>
                      <th scope="row">12:00 AM</th> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>  
                    </tr>
                    <tr>
                      <th scope="row">1:00 PM</th> 
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>  
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>

        

        <div class="card">
            <h5 class="card-header">Ficha de pago</h5>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Costo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        

	    </div>
	  </div>
  </div>
  
  <ng-template #catalogoM let-c="close">
              <div class="modal-header">
                <h5 class="modal-title">Catalogo de materias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Codigo</th>
                          <th scope="col">Materia</th>
                          <th scope="col">Aula</th>
                          <th scope="col">Turno</th>
                          <th scope="col">Hrs</th>
                          <th scope="col">Profesor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                <button type="button" class="btn btn-primary">Agregar materia</button>
              </div>
  </ng-template>