<div class="container-fluid contenido">

	  <div class="row">
	    <div class="col-sm-12 encabezado">
			<img src="assets/imgs/CUT.png">
	    </div>
	    <div class=" menu">
          <h5>BIENVENIDO</h5>
          <h6>{{usuario.nombre}}</h6>
          <a (click)="Inicio()">Inicio</a><br>
          <a (click)="cerrarSesion()">cerrar sesion</a>
	    </div>
	    <div class=" col-sm-12 col-md-10  ">
        
        <div class="card">
          <h5 class="card-header">Alumnos</h5>
          <div class="card-body">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Calificacion</th>
                      <th>Ciclo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of alumnos">
                      <th scope="row">{{a.Nombre}}</th>
                      <td>{{a.Calificacion}}</td>
                      <td>{{a.Ciclo}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
	    </div>
	  </div>
  </div>
