<div class="container login">
    <img src="assets/imgs/CUT.png" class="rounded mx-auto d-block" alt="logo_cut">
 
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Usuario" name="user" #usr>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Contraseña" name="pass" #contra>
        </div>
          <button  class="btn btn-primary" (click)="iniciarSesion(usr.value, contra.value)">Iniciar Sesion</button>
        
      <!-- <simple-notifications [options]="optionsAlert" ></simple-notifications> -->
 
    
</div>
  

  
  
  
