<div class="container-fluid contenido">

  <div class="row">
    <div class="col-sm-12 encabezado">
    <img src="assets/imgs/CUT.png">
    </div>
    <div class=" menu">
        <h5>BIENVENIDO</h5>
        <h6>{{usuario.nombre}}</h6>
        <a (click)="abrirmodal(califica);">Calificar</a><br>
        <a (click)="cerrarSesion()">cerrar sesion</a>
    </div>
    <div class=" col-sm-12 col-md-10  ">
      
      <div class="card">
        <h5 class="card-header">Horario</h5>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Horas</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">7:00 AM</th>
                <td class="{{tdStyle[0]}}">{{nombreMateria[0]}} <br> {{nombreAula[0]}}</td>
                <td class="{{tdStyle[1]}}">{{nombreMateria[1]}} <br> {{nombreAula[1]}}</td>
                <td class="{{tdStyle[2]}}">{{nombreMateria[2]}} <br> {{nombreAula[2]}}</td>
                <td class="{{tdStyle[3]}}">{{nombreMateria[3]}} <br> {{nombreAula[3]}}</td>
                <td class="{{tdStyle[4]}}">{{nombreMateria[4]}} <br> {{nombreAula[4]}}</td>
              </tr>
              <tr>
                <th scope="row">8:00 AM</th>
                <td class="{{tdStyle[5]}}">{{nombreMateria[5]}} <br> {{nombreAula[5]}}</td>
                <td class="{{tdStyle[6]}}">{{nombreMateria[6]}} <br> {{nombreAula[6]}}</td>
                <td class="{{tdStyle[7]}}">{{nombreMateria[7]}} <br> {{nombreAula[7]}}</td>
                <td class="{{tdStyle[8]}}">{{nombreMateria[8]}} <br> {{nombreAula[8]}}</td>
                <td class="{{tdStyle[9]}}">{{nombreMateria[9]}} <br> {{nombreAula[9]}}</td>
              </tr>
              <tr>
                <th scope="row">9:00 AM</th>  
                <td class="{{tdStyle[10]}}">{{nombreMateria[10]}} <br> {{nombreAula[10]}}</td>
                <td class="{{tdStyle[11]}}">{{nombreMateria[11]}} <br> {{nombreAula[11]}}</td>
                <td class="{{tdStyle[12]}}">{{nombreMateria[12]}} <br> {{nombreAula[12]}}</td>
                <td class="{{tdStyle[13]}}">{{nombreMateria[13]}} <br> {{nombreAula[13]}}</td>
                <td class="{{tdStyle[14]}}">{{nombreMateria[14]}} <br> {{nombreAula[14]}}</td> 
              </tr>
              <tr>
                <th scope="row">10:00 AM</th> 
                <td class="{{tdStyle[15]}}">{{nombreMateria[15]}} <br> {{nombreAula[15]}}</td>
                <td class="{{tdStyle[16]}}">{{nombreMateria[16]}} <br> {{nombreAula[16]}}</td>
                <td class="{{tdStyle[17]}}">{{nombreMateria[17]}} <br> {{nombreAula[17]}}</td>
                <td class="{{tdStyle[18]}}">{{nombreMateria[18]}} <br> {{nombreAula[18]}}</td>
                <td class="{{tdStyle[19]}}">{{nombreMateria[19]}} <br> {{nombreAula[19]}}</td>  
              </tr>
              <tr>
                <th scope="row">11:00 AM</th> 
                <td class="{{tdStyle[20]}}">{{nombreMateria[20]}} <br> {{nombreAula[20]}}</td>
                <td class="{{tdStyle[21]}}">{{nombreMateria[21]}} <br> {{nombreAula[21]}}</td>
                <td class="{{tdStyle[22]}}">{{nombreMateria[22]}} <br> {{nombreAula[22]}}</td>
                <td class="{{tdStyle[23]}}">{{nombreMateria[23]}} <br> {{nombreAula[23]}}</td>
                <td class="{{tdStyle[24]}}">{{nombreMateria[24]}} <br> {{nombreAula[24]}}</td>  
              </tr>
              <tr>
                <th scope="row">12:00 AM</th> 
                <td class="{{tdStyle[25]}}">{{nombreMateria[25]}} <br> {{nombreAula[25]}}</td>
                <td class="{{tdStyle[26]}}">{{nombreMateria[26]}} <br> {{nombreAula[26]}}</td>
                <td class="{{tdStyle[27]}}">{{nombreMateria[27]}} <br> {{nombreAula[27]}}</td>
                <td class="{{tdStyle[28]}}">{{nombreMateria[28]}} <br> {{nombreAula[28]}}</td>
                <td class="{{tdStyle[29]}}">{{nombreMateria[29]}} <br> {{nombreAula[29]}}</td>  
              </tr>
              <tr>
                <th scope="row">1:00 PM</th> 
                <td class="{{tdStyle[30]}}">{{nombreMateria[30]}} <br> {{nombreAula[30]}}</td>
                <td class="{{tdStyle[31]}}">{{nombreMateria[31]}} <br> {{nombreAula[31]}}</td>
                <td class="{{tdStyle[32]}}">{{nombreMateria[32]}} <br> {{nombreAula[32]}}</td>
                <td class="{{tdStyle[33]}}">{{nombreMateria[33]}} <br> {{nombreAula[33]}}</td>
                <td class="{{tdStyle[34]}}">{{nombreMateria[34]}} <br> {{nombreAula[34]}}</td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      

      <div class="card">
          <h5 class="card-header">Ficha de pago</h5>
          <div class="card-body">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Costo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ficha of materiaFicha">
                      <th scope="row">{{ficha.idMateria}}</th>
                      <td>{{ficha.Materia}}</td>
                      <td class="thCent">25</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <th></th>
                    <th class="thEnd">Total :</th>
                    <th class="thCent">{{totalFichaPago}}</th>
                  </tfoot>
                </table>
          </div>
      </div>

      

    </div>
  </div>
</div>

<ng-template #califica let-c="close">
    <div class="modal-header" style="background-color:#86BE4F; color:#fff;">
      <h5 class="modal-title">Calificar Materia</h5>
      <button type="button" (click)="c('Close click')" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-sm-7">
            <label for="Materia">Materia</label>
            <select class="form-control" id="MateriaSelect" name="MateriaSelect" [(ngModel)]="materia.nombre" #MateriaSelect="ngModel"  >
              <option *ngFor ="let m of materiaFicha" value="{{m.idMateria}}" >{{m.Materia}}</option>
            </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="CalificaMateria(MateriaSelect.value);">Continuar</button>
      </div>
</ng-template>


